.signup-section {
  padding: 10rem 0;
  background: linear-gradient(
      to bottom,
      #{fade-out($black, 0.1)} 0%,
      #{fade-out($black, 0.3)} 75%,
      $black 100%
    ),
    url('../images/main-image-min.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  .form-inline {
    input,
    textarea {
      box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
      padding: 1.25rem 2rem;
      height: auto;
      font-family: 'Varela Round';
      font-size: 80%;
      text-transform: uppercase;
      letter-spacing: 0.15rem;
      border: 0;
      margin-bottom: 15px !important;
      width: 100%;
    }
  }

  .signup-description {
    color: white;
    margin-top: 110px;
    list-style: none;
    margin-bottom: 90px;

    @media (min-width: 992px) {
      margin-bottom: 0;
    }

    li {
      line-height: 2.5;

      .fa-check {
        color: #64a19d;
      }
    }
  }

  .signup-contact {
    width: 90%;
  }
}
